<nav class="navbar navbar-expand-md text-white navbar-dark" id="header">
    <a class="navbar-brand text-white" href="#">
        <img src="../../icon.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
        WebPlum
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#fillform">Fill form</a>
            </li>
        </ul>
        <ul class="navbar-nav float-md-right float-sm-left">
          <li class="nav-item">
              <a class="nav-link text-white" (click)="showLoginModal()">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" (click)="showRegisterModal()">Register</a>
          </li>
        </ul>
    </div>
</nav>
<p-dialog header="Login" [(visible)]="loginModal" [baseZIndex]="100000">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="onLoginSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fl.username.errors }" />
                    <div *ngIf="submitted && fl.username.errors" class="invalid-feedback">
                        <div *ngIf="fl.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fl.password.errors }" />
                    <div *ngIf="submitted && fl.password.errors" class="invalid-feedback">
                        <div *ngIf="fl.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button style="float: right" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</p-dialog>
<p-toast position="top-center" key="l" (onClose)="onReject()" [baseZIndex]="50000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-dialog header="Register" [(visible)]="registerModal" [baseZIndex]="100000">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formRegister" (ngSubmit)="onRegisterSubmit()">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="firstName">First Name*</label>
                    <input type="text" formControlName="regFname" class="form-control" [ngClass]="{ 'is-invalid': submitted && fr.regFname.errors }" />
                    <div *ngIf="submitted && fr.regFname.errors" class="invalid-feedback">
                        <div *ngIf="fr.regFname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="email">Email*</label>
                  <input type="email" formControlName="regEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fr.regEmail.errors }" />
                  <div *ngIf="submitted && fr.regEmail.errors" class="invalid-feedback">
                      <div *ngIf="fr.regEmail.errors.required">Email is required</div>
                  </div>
              </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="lastName">Last Name*</label>
                    <input type="text" formControlName="regLname" class="form-control" [ngClass]="{ 'is-invalid': submitted && fr.regLname.errors }" />
                    <div *ngIf="submitted && fr.regLname.errors" class="invalid-feedback">
                        <div *ngIf="fr.regLname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile*</label>
                    <input type="number" formControlName="regMobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && fr.regMobile.errors }" />
                    <div *ngIf="submitted && fr.regMobile.errors" class="invalid-feedback">
                        <div *ngIf="fr.regMobile.errors.required">Mobile is required</div>
                    </div>
                </div>
                </div>
              </div>
                <div class="form-group">
                    <button style="float: right" class="btn btn-primary">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</p-dialog>
<p-toast position="top-center" key="r" (onClose)="onReject()" [baseZIndex]="50000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
        </div>
    </ng-template>
</p-toast>
