<div class="container-fluid" id="mainDiv">
  <div class="container p-3">
    <div class="row">
        <div class="col-4" id="column">
            <img src="../../icon.ico" width="60" height="60" alt="logo" /><br/>
            <div ><strong>WebPlum</strong></div>
            <div>Reliable, enterprise AI service delivery</div>
        </div>
        <div class="col-4" id="column">
            <span><strong>SERVICES</strong></span><br/>
            <span><a class="comLink" href="#">Retail</a></span><br/>
            <span><a class="comLink" href="#">Insurance</a></span><br/>
            <span><a class="comLink" href="#">Healthcare</a></span><br/>
            <span><a class="comLink" href="#">Banking</a></span><br/>
            <span><a class="comLink" href="#">RPA</a></span><br/>
        </div>
        <div class="col-4" id="column">
            <div><a class="comLink" href="#">Company</a></div><br/>
            <div><a class="comLink" href="#">About Us</a></div><br/>
            <div><a class="comLink" href="#">Have a coffee with us</a></div><br/>
        </div>
    </div>
    <div class="row" id="foot">
        <span id="link" class="mr-3"><i class="pi pi-lock"></i> 2020 Webplum</span>
        <a id="link" class="mr-2" href="#">Privacy policy</a>
        <a id="link" href="#">Terms of Use</a>
    </div>
  </div>
</div>
