<div class="container" id="mainDiv">
    <div class="row" id="innerDiv">
        <div class="col-md-6 col-sm-12">
            <p-chart type="bar" [data]="data"></p-chart>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="onePlat"><strong>One Platform</strong></div><br/>
                <div class="oneCon">WebPlum’s Enterprise AI platform allows customers
                to get rapid results by preparing their data,
                create and validate AI models – including time series and computer vision,
                and deploy and monitor those models in a single solution.</div>
        </div>
    </div>
    <div class="row" id="innerDiv">
        <div class="col-md-6 col-sm-12">
            <div class="onePlat pr-md-5rem pr-sm-0" style="text-align: right;">AI for you</div><br/>
            <div class="oneCon pr-md-5rem pr-sm-0"  style="text-align: justify;">LogicPlum helps you find opportunities to apply AI,
             and create a culture that embraces data-driven decision making.
             Take advantage of real AI, but without learning to code.</div>
        </div>
        <div class="col-md-6 col-sm-12">
            <p-chart type="line" [data]="data"></p-chart>
        </div>
    </div>
</div>
